// Place all the styles related to the map controller here.
// They will automatically be included in application.css.

#container {
  height:100%;
  width:100%;
  position:relative;
  header.main-header {
    display: block;
    height:40px;
    background:#222;
    position: relative;
    .centered {
      text-align: center;
      padding:3px;
    }
    .right-text {
      text-align: right;
    }
    .left-text,
    .right-text {
      color:white;
      font-weight: 300;
      font-size: 20px;
      padding:5px 15px;
    }
  }
  #map {
    display: block;
    height:calc(~"100% - 40px");
    width:100%;
    position:relative;
  }
  #legend {
    position:absolute;
    z-index: 10000;
    background:white;
    top:60px;
    right:20px;
    height:300px;
    width:300px;
    padding:20px;
    h3 {
      text-align: center;
      margin:0;
    }
    table {
      width:100%;
      margin:5px 0;
      tr {
        width:100%;
        td {
          padding:3px;
          width:calc(~"50% - 6px");
          &:first-child {
            text-align: right;
          }
          &:last-child {
            text-align: left;
          }
          .sample {
            display:inline-block;
            height:15px;
            width:50px;
          }

        }
      }
    }
  }
}