<div id="container">
  <header class="main-header .row ">
    <div class="left-text col-md-4">Transit Availability</div>
    <div class="centered col-md-4">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="radio" name="options" id="open_bikes"> Open Bikes
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="options" id="open_docks"> Open Docks
        </label>
      </div>
    </div>
    <div class="right-text lastUpdate col-md-4"></div>
  </header>
  <div id="map"></div>
  <div id="legend">
    <h3>Available <span class="type">Bikes</span></h3>
    <table>
    </table>
  </div>

</div>

<script src="/assets/map.js" defer></script>