
<div id="container">
  <header class="main-header">
    <div class="right-text lastUpdate"></div>
    <div class="left-text">Hubway Availability</div>
  </header>
  <div id="map"></div>
</div>

<script src="/assets/map.js" defer></script>