<div id="fp-container">
<p class="map"><a href="/map/hubway">hubway map</a></p>
<p>check <a href="http://willpotter.co">willpotter.co</a> for more</p>
<p>by <a href="mailto:dev@willpots.com">dev@willpots.com</a></p>
</div>